[submodule "lib/AtlassianStashSharp"]
	path = lib/AtlassianStashSharp
	url = git@github.com:thedillonb/AtlassianStashSharp.git
[submodule "lib/CodeFramework"]
	path = lib/CodeFramework
	url = git@github.com:thedillonb/CodeFramework.git
